Repository ImagineAR/IAR-SDK-Sample-iOS: changes, and which CircleCI parameters are due for each by the changed paths.
All: source-common-modified, source-core-modified, source-surface-modified, source-target-modified

IAR-5872 Updated to 1.6.4 beta 1
  IAR-CoreSDK-Sample/IAR-CoreSDK-Sample.xcodeproj/project.pbxproj
  IAR-CoreSDK-Sample/Podfile
  IAR-CoreSDK-Sample/Podfile.lock
  IAR-SurfaceSDK-Sample/IAR-SurfaceSDK-Sample.xcodeproj/project.pbxproj
  IAR-SurfaceSDK-Sample/Podfile
  IAR-SurfaceSDK-Sample/Podfile.lock
  IAR-TargetSDK-Sample/IAR-TargetSDK-Sample.xcodeproj/project.pbxproj
  IAR-TargetSDK-Sample/Podfile
  IAR-TargetSDK-Sample/Podfile.lock
Due: source-core-modified, source-surface-modified, source-target-modified

IAR-5872 Updated sdk to 1.6.6
  IAR-CoreSDK-Sample/IAR-CoreSDK-Sample.xcodeproj/project.pbxproj
  IAR-CoreSDK-Sample/Podfile
  IAR-CoreSDK-Sample/Podfile.lock
  IAR-SurfaceSDK-Sample/IAR-SurfaceSDK-Sample.xcodeproj/project.pbxproj
  IAR-SurfaceSDK-Sample/Podfile
  IAR-SurfaceSDK-Sample/Podfile.lock
  IAR-TargetSDK-Sample/IAR-TargetSDK-Sample.xcodeproj/project.pbxproj
  IAR-TargetSDK-Sample/Podfile
  IAR-TargetSDK-Sample/Podfile.lock
Due: source-core-modified, source-surface-modified, source-target-modified

IAR-5872 Updated samples with 1.6.6
  IAR-CoreSDK-Sample/IAR-CoreSDK-Sample.xcodeproj/project.pbxproj
  IAR-SurfaceSDK-Sample/IAR-SurfaceSDK-Sample.xcodeproj/project.pbxproj
  IAR-TargetSDK-Sample/IAR-TargetSDK-Sample.xcodeproj/project.pbxproj
Due: source-core-modified, source-surface-modified, source-target-modified

IAR-5872 Updated CI xcode to latest available
  .circleci/workflows.yml
Due: none

IAR-5872 Updating signing style
  IAR-SurfaceSDK-Sample/IAR-SurfaceSDK-Sample.xcodeproj/project.pbxproj
Due: source-surface-modified

Updating Xcode version to 14.2
  .circleci/workflows.yml
Due: none

Removed holdqa from steps
  .circleci/workflows.yml
Due: none

IAR-5926 Updating to 1.6.9 SDK
  IAR-CoreSDK-Sample/IAR-CoreSDK-Sample.xcodeproj/project.pbxproj
  IAR-CoreSDK-Sample/Podfile
  IAR-CoreSDK-Sample/Podfile.lock
  IAR-SurfaceSDK-Sample/IAR-SurfaceSDK-Sample.xcodeproj/project.pbxproj
  IAR-SurfaceSDK-Sample/Podfile
  IAR-SurfaceSDK-Sample/Podfile.lock
  IAR-TargetSDK-Sample/IAR-TargetSDK-Sample.xcodeproj/project.pbxproj
  IAR-TargetSDK-Sample/Podfile
  IAR-TargetSDK-Sample/Podfile.lock
Due: source-core-modified, source-surface-modified, source-target-modified

IAR-5926 Updating release workflow on CI
  .circleci/workflows.yml
Due: none

IAR-5926 Changing signature on TargetSDK
  IAR-TargetSDK-Sample/IAR-TargetSDK-Sample.xcodeproj/project.pbxproj
Due: source-target-modified

IAR-5996 Updated with 1.6.10-beta1 and new recorder
  IAR-CoreSDK-Sample/IAR-CoreSDK-Sample.xcodeproj/project.pbxproj
  IAR-CoreSDK-Sample/Podfile
  IAR-CoreSDK-Sample/Podfile.lock
  IAR-SurfaceSDK-Sample/IAR-SurfaceSDK-Sample.xcodeproj/project.pbxproj
  IAR-SurfaceSDK-Sample/IAR-SurfaceSDK-Sample/SupportingFiles/Base.lproj/Main.storyboard
  IAR-SurfaceSDK-Sample/IAR-SurfaceSDK-Sample/ViewController/SurfaceViewController.swift
  IAR-SurfaceSDK-Sample/Podfile
  IAR-SurfaceSDK-Sample/Podfile.lock
  IAR-TargetSDK-Sample/IAR-TargetSDK-Sample.xcodeproj/project.pbxproj
  IAR-TargetSDK-Sample/Podfile
  IAR-TargetSDK-Sample/Podfile.lock
Due: source-core-modified, source-surface-modified, source-target-modified

IAR-5996 Using screen resolution for the video
  IAR-SurfaceSDK-Sample/IAR-SurfaceSDK-Sample/ViewController/SurfaceViewController.swift
Due: source-surface-modified

IAR-5996 Asset keeps playing in the background
  IAR-SurfaceSDK-Sample/IAR-SurfaceSDK-Sample/ViewController/SurfaceViewController.swift
Due: source-surface-modified

IAR-6005 Updated to beta5, added dispose methods to sample
  IAR-CoreSDK-Sample/IAR-CoreSDK-Sample.xcodeproj/project.pbxproj
  IAR-CoreSDK-Sample/Podfile
  IAR-CoreSDK-Sample/Podfile.lock
  IAR-SurfaceSDK-Sample/IAR-SurfaceSDK-Sample.xcodeproj/project.pbxproj
  IAR-SurfaceSDK-Sample/IAR-SurfaceSDK-Sample/SupportingFiles/Base.lproj/Main.storyboard
  IAR-SurfaceSDK-Sample/IAR-SurfaceSDK-Sample/ViewController/SurfaceViewController.swift
  IAR-SurfaceSDK-Sample/Podfile
  IAR-SurfaceSDK-Sample/Podfile.lock
  IAR-TargetSDK-Sample/IAR-TargetSDK-Sample.xcodeproj/project.pbxproj
  IAR-TargetSDK-Sample/Podfile
  IAR-TargetSDK-Sample/Podfile.lock
Due: source-core-modified, source-surface-modified, source-target-modified

IAR-6009 Moved dispose call placement
  IAR-SurfaceSDK-Sample/IAR-SurfaceSDK-Sample/ViewController/SurfaceViewController.swift
Due: source-surface-modified

IAR-6004 Added video sizing parameters
  IAR-SurfaceSDK-Sample/IAR-SurfaceSDK-Sample/ViewController/SurfaceViewController.swift
Due: source-surface-modified

IAR-6014 Updated new samples to SDK 1.6.12
  Gemfile
  Gemfile.lock
  IAR-CoreSDK-Sample/IAR-CoreSDK-Sample.xcodeproj/project.pbxproj
  IAR-CoreSDK-Sample/Podfile
  IAR-CoreSDK-Sample/Podfile.lock
  IAR-SurfaceSDK-Sample/IAR-SurfaceSDK-Sample.xcodeproj/project.pbxproj
  IAR-SurfaceSDK-Sample/Podfile
  IAR-SurfaceSDK-Sample/Podfile.lock
  IAR-TargetSDK-Sample/IAR-TargetSDK-Sample.xcodeproj/project.pbxproj
  IAR-TargetSDK-Sample/Podfile
  IAR-TargetSDK-Sample/Podfile.lock
Due: source-core-modified, source-surface-modified, source-target-modified

IAR-6014 Add bundle update step for each sample
  IAR-CoreSDK-Sample/Gemfile.lock
  IAR-CoreSDK-Sample/IAR-CoreSDK-Sample.xcodeproj/project.pbxproj
  IAR-SurfaceSDK-Sample/Gemfile.lock
  IAR-SurfaceSDK-Sample/IAR-SurfaceSDK-Sample.xcodeproj/project.pbxproj
  IAR-TargetSDK-Sample/Gemfile.lock
  IAR-TargetSDK-Sample/IAR-TargetSDK-Sample.xcodeproj/project.pbxproj
  Scripts/setup-environment.sh
Due: source-core-modified, source-surface-modified, source-target-modified

IAR-6014 WIP fix CI bundler setup
  .circleci/workflows.yml
Due: none

IAR-6051 Updates to Dropin sdk sample
  Gemfile.lock
  IAR-CoreSDK-Sample/Gemfile.lock
  IAR-CoreSDK-Sample/IAR-CoreSDK-Sample.xcodeproj/project.pbxproj
  IAR-SurfaceSDK-Sample/Gemfile.lock
  IAR-SurfaceSDK-Sample/IAR-SurfaceSDK-Sample.xcodeproj/project.pbxproj
  IAR-TargetSDK-Sample/Gemfile.lock
  IAR-TargetSDK-Sample/IAR-TargetSDK-Sample.xcodeproj/project.pbxproj
  IAR-UISDK-Sample/IAR-DropIn.xcodeproj/project.pbxproj
  IAR-UISDK-Sample/IAR-DropIn.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  IAR-UISDK-Sample/IAR-DropIn.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  IAR-UISDK-Sample/IAR-DropIn.xcodeproj/xcshareddata/xcschemes/IAR-DropIn-Example.xcscheme
  IAR-UISDK-Sample/IAR-DropIn.xcworkspace/contents.xcworkspacedata
  IAR-UISDK-Sample/IAR-DropIn.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  IAR-UISDK-Sample/IAR-DropIn/AppDelegate.swift
  IAR-UISDK-Sample/IAR-DropIn/Base.lproj/LaunchScreen.xib
  IAR-UISDK-Sample/IAR-DropIn/Base.lproj/Main.storyboard
  IAR-UISDK-Sample/IAR-DropIn/Images.xcassets/AR_Brand_Example.imageset/ARNearMe_DefaultPreview.png
  IAR-UISDK-Sample/IAR-DropIn/Images.xcassets/AR_Brand_Example.imageset/Contents.json
  IAR-UISDK-Sample/IAR-DropIn/Images.xcassets/AppIcon.appiconset/Contents.json
  IAR-UISDK-Sample/IAR-DropIn/Images.xcassets/Contents.json
  IAR-UISDK-Sample/IAR-DropIn/Info.plist
  IAR-UISDK-Sample/IAR-DropIn/ViewController.swift
  IAR-UISDK-Sample/Podfile
  IAR-UISDK-Sample/Podfile.lock
  IAR-UISDK-Sample/Tests/Info.plist
  IAR-UISDK-Sample/Tests/Tests.swift
  Scripts/setup-environment.sh
  Scripts/setup-new-version.sh
Due: source-core-modified, source-surface-modified, source-target-modified

IAR-6051 Updates samples with renewed certificates, updates pods
  Gemfile.lock
  IAR-CoreSDK-Sample/Gemfile.lock
  IAR-CoreSDK-Sample/IAR-CoreSDK-Sample.xcodeproj/project.pbxproj
  IAR-CoreSDK-Sample/Podfile
  IAR-CoreSDK-Sample/Podfile.lock
  IAR-SurfaceSDK-Sample/Gemfile.lock
  IAR-SurfaceSDK-Sample/IAR-SurfaceSDK-Sample.xcodeproj/project.pbxproj
  IAR-SurfaceSDK-Sample/Podfile
  IAR-SurfaceSDK-Sample/Podfile.lock
  IAR-TargetSDK-Sample/Gemfile.lock
  IAR-TargetSDK-Sample/IAR-TargetSDK-Sample.xcodeproj/project.pbxproj
  IAR-TargetSDK-Sample/Podfile
  IAR-TargetSDK-Sample/Podfile.lock
  IAR-UISDK-Sample/IAR-DropIn.xcodeproj/project.pbxproj
  IAR-UISDK-Sample/Podfile
  IAR-UISDK-Sample/Podfile.lock
Due: source-core-modified, source-surface-modified, source-target-modified

IAR-6015 Updates samples to 1.6.22
  Gemfile.lock
  IAR-CoreSDK-Sample/Gemfile.lock
  IAR-CoreSDK-Sample/IAR-CoreSDK-Sample.xcodeproj/project.pbxproj
  IAR-CoreSDK-Sample/Podfile
  IAR-CoreSDK-Sample/Podfile.lock
  IAR-SurfaceSDK-Sample/Gemfile.lock
  IAR-SurfaceSDK-Sample/IAR-SurfaceSDK-Sample.xcodeproj/project.pbxproj
  IAR-SurfaceSDK-Sample/Podfile
  IAR-SurfaceSDK-Sample/Podfile.lock
  IAR-TargetSDK-Sample/Gemfile.lock
  IAR-TargetSDK-Sample/IAR-TargetSDK-Sample.xcodeproj/project.pbxproj
  IAR-TargetSDK-Sample/Podfile
  IAR-TargetSDK-Sample/Podfile.lock
  IAR-UISDK-Sample/IAR-DropIn.xcodeproj/project.pbxproj
  IAR-UISDK-Sample/Podfile
  IAR-UISDK-Sample/Podfile.lock
Due: source-core-modified, source-surface-modified, source-target-modified

Path conditions:
  source-common-modified: any of: IAR-Samples-Common/.*
  source-core-modified: any of: IAR-CoreSDK-Sample/.*
  source-surface-modified: any of: IAR-SurfaceSDK-Sample/.*
  source-target-modified: any of: IAR-TargetSDK-Sample/.*
